<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
  </ion-buttons>
    <ion-title>calculadora</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
 <ion-item>
      <ion-input [(ngModel)]="operacion"></ion-input>
 </ion-item>

  <ion-row>
    <div>
      <ion-col> 
        <ion-button (click)="agregar
        ('7')" color="Light">7</ion-button>
        <ion-button (click)="agregar
        ('8')" color="Light">8</ion-button>
        <ion-button (click)="agregar
        ('9')" color="Light">9</ion-button>
        <ion-button (click)="agregar
        ('/')" color="warning">/</ion-button>
      </ion-col>
    </div>
  </ion-row>
  <ion-row>
    <div>
      <ion-col>
        <ion-button (click)="agregar
        ('4')" color="Light">4</ion-button>
        <ion-button (click)="agregar
        ('5')" color="Light">5</ion-button>
        <ion-button (click)="agregar
        ('6')" color="Light">6</ion-button>
        <ion-button (click)="agregar
        ('*')" color="warning">*</ion-button>
      </ion-col>
    </div>
  </ion-row>
  <ion-row>
    <div>
      <ion-col>
        <ion-button (click)="agregar
        ('1')" color="Light">1</ion-button>
        <ion-button (click)="agregar
        ('2')" color="Light">2</ion-button>
        <ion-button (click)="agregar
        ('3')" color="Light">3</ion-button>
        <ion-button (click)="agregar
        ('-')" color="warning">-</ion-button>
      </ion-col>
    </div>
  </ion-row>
  <ion-row>
    <div>
      <ion-col>
        <ion-button (click)="agregar
        ('0')" color="Light">0</ion-button>
        <ion-button (click)="agregar
        ('.')" color="Light">.</ion-button>
        <ion-button (click)="resultado()" color="warning">=</ion-button>
        <ion-button (click)="agregar
        ('+')" color="warning">+</ion-button>
      </ion-col>
    </div>
  </ion-row>

</ion-content>



