<ion-header>
  <ion-toolbar>
    <ion-title>calculadora</ion-title>
  </ion-toolbar>
</ion-header>
  
<ion-content>
  

  
  <ion-row>
    <div>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
    
    </div>
  </ion-row>
  <ion-row>
    <div>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="Light">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="Light">Light</ion-button>
    
    </div>
  </ion-row>
  <ion-row>
    <div>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="Light">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="Light">Light</ion-button>
    
    </div>
  </ion-row>
  <ion-row>
    <div>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="Light">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="Light">Light</ion-button>
    
    </div>
  </ion-row>
  <ion-row>
    <div>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="Light">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="Light">Light</ion-button>
    
    </div>
  </ion-row>
  <ion-row>
    <div>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="warning">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="Light">Light</ion-button>
      <ion-button (click)="addCaracter('7')" color="Light">Light</ion-button>
    
    </div>
  </ion-row>

  




</ion-content>



